/*  */
.logo {
  display: flex;
  align-items: center;
}

.tilty {
  width: 5rem;
  height: 5rem; 
  transform-style: preserve-3d;   /* 3D effect */
  perspective: 1000;   /* square movement */
  background: linear-gradient(0.25turn, #095696, #ebf8e1, #f69d3c);
  display: flex;    /* allows us to use justify content and align items */
  justify-content: center; /* centers brain horizontally */
  align-items: center; /* centers brain vertically */
  border-radius: 20%;  

}
  
.inner {
  transform: translateZ(30px);  /* brain movement z index */
}


